

<div *ngIf="person">
    <div class="contenedor">
        <h1 class="text">Editar persona</h1>
        <form id="formulario" (ngSubmit)="guardar()" [formGroup]="miFormulario"
        autocomplete="off">

            <div class="elemento">
            <p class="text"><b>Usuario</b></p>
            <input type="text" id="user" class="form-control" formControlName="user">
            </div>

            <div class="elemento">
            <p class="text"><b>Apellido</b></p>
            <input type="text" id="surname" class="form-control" formControlName="surname">
            </div>

            <div class="elemento">
            <p class="text"><b>Email de la compañía</b></p>
            <input type="email" id="company_email" class="form-control" formControlName="company_email">
            </div>

            <div class="elemento">
            <p class="text"><b>Email personal</b></p>
            <input type="email" id="personal_email" class="form-control" formControlName="personal_email">
            </div>

            <div class="elemento">
            <p class="text"><b>Ciudad</b></p>
            <input type="text" id="city" class="form-control" formControlName="city">
            </div>
      
            <div class="elemento">
            <p class="text"><b>url de la imagen</b></p>
            <input type="url" id="imagen_url" class="form-control" formControlName="imagen_url">
            </div>

            <div class="elemento">
            <p class="text"><b>Fecha de creación</b></p>
            <input type="date" id="created_date" class="form-control" formControlName="created_date">
            </div>

            <div class="elemento">
            <p class="text"><b>Activado</b></p>
            <input type="checkbox" id="active" class="form-control" formControlName="active"> 
            </div>

            <div class="elemento">
            <p class="text"><b>Fecha de finalizacion</b></p>
            <input type="date" id="finish_date" class="form-control" formControlName="finish_date">
            </div>
            <br>
            
            <div class="botones">
            
                <button type="submit" id="botonactualizar"
                class="boton">Actualizar</button>
                <br>
                <button class="boton" id="botonborrar" (click)="borrarPerson()">Borrar</button>
            </div>
        </form>
        
    </div>
</div>